<app-navbar (searchEvent)="setSearchText($event)" (newGoalEvent)="setActiveGoal($event)"></app-navbar>

<div class="d-flex flex-wrap">
  <div class="col-lg-4 col-md-6" *ngFor="let goal of goals | filter : searchText">
    <div class="goal card mt-3">
      <div class="goal-header card-header" data-toggle="modal" data-target="#goal-details"
           (click)="showGoalDetails(goal)">
        <div class="btn input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" [ngClass]="{'bg-warning' : goal.achieved}"><i class="fa fa-trophy"></i></span>
          </div>
          <span class="form-control" readonly>{{ goal.name }}</span>
        </div>
      </div>
    <div class="card-body">
      <div class="input-group mb-3" *ngFor="let level of goal.levels">
        <div class="input-group-prepend">
          <span class="input-group-text" [ngClass]="{'bg-success' : level.achieved}">Poziom {{level.level}}</span>
        </div>
        <input type="text" class="form-control" value="{{ level.name }}" readonly>
      </div>
    </div>
  </div>
</div>
</div>

<app-goal-details (deleteGoalEvent)="removeGoal($event)" [goal]="activeGoal"
                  (levelRewardEvent)="showRewardLevel($event)"></app-goal-details>

<app-reward-notification [level]="rewardLevel"></app-reward-notification>

<app-new-goal-wizard [goal]="activeGoal" (newGoalEvent)="showAddedGoal($event)"></app-new-goal-wizard>

<app-messages></app-messages>



