<div class="modal fade goal" id="new-goal-wizard" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <form class="modal-content" (submit)="addGoal()" #newGoalForm="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="modal-header secondary-bg">
        <input class="modal-title form-control" name="name" placeholder="Twój cel" [(ngModel)]="goal.name"/>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-7 col-sm-12">
            <mat-slide-toggle class="mb-3" (change)="toggleChecklist()" [(ngModel)]="withChecklist"
                              name="withChecklist">Todo-lista
            </mat-slide-toggle>
            <ng-container *ngIf="withChecklist">
              <div class="card">
                <div class="card-body checklist">
                  <input class="card-title form-control" name="listTitle" placeholder="Nazwa listy"
                         [(ngModel)]="goal.checklist.name" autofocus/>

                  <ul class="form-group" *ngFor="let item of goal.checklist.list; trackBy: trackByFn let i = index;">
                    <input type="checkbox" id="newgoal-step-{{i}}" name="item-checked-{{i}}"
                           [(ngModel)]="item.checked"/>
                    <li class="btn-group w-100">
                      <label [for]="'newgoal-step-'+i"
                             [ngClass]="(item.checked)?'btn btn-success':'btn btn-light'">
                        <span class="fa fa-check"></span>
                        <span class="fa fa-square-o"></span>
                      </label>
                      <input class="btn btn-light w-100" name="item-name-{{i}}" [(ngModel)]="item.value"
                             appActivatableInput/>
                      <button type="button" class="btn btn-danger" (click)="goal.checklist.removeItem(i)"><i
                        class="fa fa-minus-square"></i></button>
                    </li>
                  </ul>

                  <div class="input-group mb-3">
                    <ng-container *ngIf="!addMultilineChecklist; else multiline">
                      <input class="form-control" placeholder="Element listy" name="listItem"
                             [(ngModel)]="listItemValue" (keyup.enter)="addListItem(listItemValue)"/>
                    </ng-container>
                    <ng-template #multiline>
                      <textarea class="form-control" placeholder="Elementy listy" name="listItem"
                                [(ngModel)]="listItemValue"></textarea>
                    </ng-template>
                    <div class="input-group-prepend">
                      <button type="button" class="btn btn-success" (click)="addListItem(listItemValue)"><i
                        class="fa fa-plus-square"></i></button>
                    </div>
                  </div>

                  <mat-slide-toggle class="mb-3" [(ngModel)]="addMultilineChecklist" name="addMultilineChecklist">
                    Multiline
                  </mat-slide-toggle>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="col-lg-5 col-sm-12">
            <mat-slide-toggle (change)="toggleDailyHabit()" class="mb-3" [(ngModel)]="withDailyHabit"
                              name="withDailyHabit">Codzienne zadania
            </mat-slide-toggle>
            <ng-container *ngIf="withDailyHabit">
              <div class="card" style="width: 18rem;">
                <div class="card-body checklist">

                  <mat-form-field>
                    <input matInput [matDatepicker]="startDate" [(ngModel)]="goal.dailyHabit.from" name="from"
                           placeholder="Od">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput [matDatepicker]="endDate" [(ngModel)]="goal.dailyHabit.to"
                           [min]="goal.dailyHabit.from" name="to" placeholder="Do">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                  </mat-form-field>

                  <mat-slide-toggle class="mb-3" [(ngModel)]="goal.dailyHabit.everyday" (change)="toggleEveryday()"
                                    name="everyday">Codziennie
                  </mat-slide-toggle>

                  <ng-container *ngIf="!goal.dailyHabit.everyday">
                    <mat-form-field class="ml-3">
                      <span matPrefix class="pr-1 mr-3">Co</span>
                      <input matInput type="number" min="1" max="7" [(ngModel)]="goal.dailyHabit.everyNDays"
                             name="everyNDays"
                             appSmallInputNumber [disabled]="goal.dailyHabit.areSpecificDaysDefined()">
                      <span matSuffix class="ml-2">dni</span>
                    </mat-form-field>
                    <div class="d-flex justify-content-between">
                      <label class="flex-column" *ngFor="let day of weekdaysShorts; let i = index" [for]="day + '-day'">
                        {{day}}
                        <mat-checkbox [checked]="goal.dailyHabit.includesDay(i)"
                                      (change)="goal.dailyHabit.toggleSpecificDay(i)"
                                      [aria-labelledby]="day + '-day'" name="specificDay" value="i"></mat-checkbox>
                      </label>
                    </div>
                  </ng-container>

                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card d-block col-12 p-0">
        <div class="card-header">
          Dodaj poziomy
        </div>

        <div class="card-body">

          <div class="input-group mb-3" *ngFor="let level of goal.levels; trackBy: trackByFn let i = index;">
            <div class="input-group-prepend">
              <span class="input-group-text" [ngClass]="{'bg-success' : level.achieved}">Poziom {{ level.level }}</span>
            </div>
            <input class="form-control" name="level-name-{{i}}" [(ngModel)]="level.name">
            <div class="input-group-prepend">
              <span class="input-group-text">🏆</span>
            </div>
            <input class="form-control" name="level-reward-{{i}}" [(ngModel)]="level.reward">

            <button type="button" class="btn btn-danger" (click)="goal.removeLevel(i)"><i
              class="fa fa-minus-square"></i></button>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Poziom {{ goal.levels.length + 1 }}</span>
            </div>
            <input class="form-control" name="levelName" [(ngModel)]="newLevel.name" placeholder="Krok do celu"
                   (keyup.enter)="addLevel()">
            <div class="input-group-prepend">
              <span class="input-group-text">🏆</span>
            </div>
            <input class="form-control" name="levelReward" [(ngModel)]="newLevel.reward" placeholder="Nagroda"
                   (keyup.enter)="addLevel()">

            <button type="button" class="btn btn-success" (click)="addLevel()"><i
              class="fa fa-plus-square"></i></button>
          </div>
        </div>
      </div>

      <div class="card-header">
        Co Cię zainspirowało?
      </div>

      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Inspiracja</span>
          </div>
          <input class="form-control" name="inspiredBy" [(ngModel)]="goal.inspiredBy" placeholder="Inspiracja">
          <div class="input-group-prepend">
            <span class="input-group-text">Link</span>
          </div>
          <input class="form-control" name="inspiredByLink" [(ngModel)]="goal.inspiredByLink" placeholder="Link">
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary">{{actionButtonText}}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </form>
  </div>
</div>

