.checklist {

  ul {
    max-height: 32vh;
    overflow-y: auto;

    li {
      margin: 5px 0;
    }
  }

  textarea {
    resize: none;
    overflow-y: hidden;
  }

  label {
    margin: 0;
  }
}

ul.form-group {
  padding: 0;
}

.modal {
  overflow: auto !important;
}

::ng-deep .goal .mat-form-field-wrapper {
  padding-bottom: 5px;
}

::ng-deep .goal .mat-form-field-wrapper .mat-form-field-underline {
  bottom: 10px;
}

.levels {
  display: flex;
  margin-bottom: 1rem;

  .input-group:last-child {
    flex: 1 2 auto;
  }

  @media (max-width: 768px) {
    display: block;
  }
}
