<div class="container h-100">
  <div class="row h-100 d-flex flex-column justify-content-center align-items-center">
    <a routerLink="/" class="logo">Three levels</a>
    <div class="error-template">
      <h1> Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!
      </div>
      <div class="error-actions">
        <a routerLink="" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
          Take Me Home </a>
      </div>
    </div>
  </div>
</div>
