.goal-header:hover {
  cursor: pointer;
  background-color: rgba(4, 115, 184, 0.44);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}


#rewardModal{
  z-index: 1080 !important;
}
