<div class="container">
  <div class="row" [@flyInOut]="messages.entries()">
    <div *ngFor="let message of messages" class="col-12">
      <div class="alert"
           [ngClass]="{
            'alert-info':     message.type == MessageType.INFO,
            'alert-success':     message.type == MessageType.SUCCESS,
            'alert-warning':     message.type == MessageType.WARNING,
            'alert-danger':     message.type == MessageType.ERROR
         }">
        {{message.text}}
      </div>
    </div>
  </div>
</div>
