/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.primary-bg {
  background: #0173c7;
  color: white;
}

.secondary-bg {
  background: #00213a;
  color: white;
}

.toBeDoneAt {

}

.color-achieved {
  background: green;
}

input.text-white:focus {
  background-color: #001d26;
}

input.text-white {
  background-color: #001d26;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #343a40;
}

.modal-content {
  border: none;
  color: black;
}

.full {
  height: calc(100vh - 40px);
}

.text-strike {
  text-decoration: line-through;
}

.bg-grey {
  background: #ced4da;
}

.pb-footer {
  padding-bottom: 60px;
}

.logo {
  color: #343a40;
  text-decoration: none;
  text-transform: uppercase;
  font-size:80px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  text-align: center;
}
.logo:hover {
  text-decoration: none;
  color: #3e454b;
}

.logo:after {
  content:"Stepify";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 100%;
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #343a40 25%, #343a40 50%, transparent 50%, transparent 75%, #343a40 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

.goal .badge,
.input-group-text,
.card,
.form-control {
  border-radius: .10rem;
}
.mat-success {
  background-color: $success;
  color: #fff;
}

.rounded-right-only {
  border-radius: 0 $border-radius $border-radius 0;
}

.rounded-left-only {
  border-radius: $border-radius 0 0 $border-radius;
}


