.checklist {

  ul {
    max-height: 32vh;
    overflow-y: auto;

    li {
      margin: 5px 0;
    }
  }

  textarea {
    resize: none;
    overflow-y: hidden;
  }

  label {
    margin: 0;
  }
}

.close-btn {
  margin-right: -10px;
}

.checklist-progress {
  text-align: right;
  background-color: #0173c76b;
  padding-right: 5px;

  .progress-indicator {
    min-width: fit-content;
    position: absolute;
    padding: 0 10px;
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    -ms-transition: width 500ms;
    -o-transition: width 500ms;
    transition: width 500ms;
  }
}


ul.form-group {
  padding: 0;
  margin: 0;
}

.modal {
  overflow: auto !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 1080 !important;
}

/deep/ mat-checkbox {
  height: 20px;
}

.levels {
  display: flex;
  margin-bottom: 1rem;

  .input-group:last-child {
    flex: 1 2 auto;
  }

  @media (max-width: 768px) {
    display: block;
  }
}
