<div class="modal fade goal" id="goal-details" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <form class="modal-content" #GoalForm="ngForm">
      <div class="modal-header bg-dark">
        <input class="modal-title form-control text-white" name="name" [(ngModel)]="goal.name" appActivatableInput/>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <div class="d-flex flex-wrap">
          <ng-container *ngIf="goal.checklist != null">
            <div class="card" style="width: 18rem;">
              <div class="card-body checklist">
                <input class="card-title form-control" name="listTitle" [(ngModel)]="goal.checklist.name"
                       appActivatableInput/>
                <ul class="form-group" *ngFor="let item of goal.checklist.list; let i = index">
                  <input type="checkbox" id="goal-{{goal.id}}-step-{{i}}" name="item-checked-{{i}}"
                         [(ngModel)]="item.checked" (change)="checkIfLevelAchieved(item)"/>
                  <li class="btn-group">
                    <label [for]="'goal-'+goal.id+'-step-'+i"
                           [ngClass]="(item.checked)?'btn btn-success':'btn btn-light'">
                      <span class="fa fa-check"></span>
                      <span class="fa fa-square-o"></span>
                    </label>
                    <input class="btn btn-light" name="item-name-{{i}}" [(ngModel)]="item.value" appActivatableInput/>
                  </li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>

      </div>

      <div class="card d-block col-12 p-0">
        <div class="card-header">
          Level progress
        </div>

        <div class="card-body">

          <div class="input-group mb-3" *ngFor="let level of goal.levels; let i = index;">
            <div class="input-group-prepend">
              <span class="input-group-text" [ngClass]="{'bg-success' : level.achieved}">Poziom {{ i + 1 }}</span>
            </div>
            <input class="form-control" name="level-name-{{i}}" [(ngModel)]="level.name">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="material-icons">🏆</i></span>
            </div>
            <input class="form-control" name="level-reward-{{i}}" [(ngModel)]="level.reward">
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirmSave()">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>

