.add-goal-btn {
  color: inherit;
}

.goal {
  cursor: pointer;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 2px 4px 0 #333333;

  .col-12 & {
    max-width: 700px;
  }

  /deep/ mat-checkbox  {
    height: 20px;
  }

  .input-group {
    padding: 0;
  }

  * {
    pointer-events: none;
  }

  *[data-toggle="tooltip"],
  .mark-as-done-btn,
  .mark-as-done-btn span,
  .mark-as-done-btn mat-checkbox {
    pointer-events: auto;
  }
}

.achieved {
  order: 1;
}


@media (min-width: 768px) {
  .goals {
    padding-left: 10%;
    padding-right: 10%;
  }
}

